<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="in.tosc.eventful.sampleapp">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainNavActivity"
            android:screenOrientation="locked"
            android:label="Eventful NavDrawer">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".MainTabActivity"
            android:screenOrientation="locked"
            android:label="Eventful Tabs">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>

</manifest>
